body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

.heading {
  background-image: url(img/the-flatiron-building.png);
}

h1, a {
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

a {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#designedinNY {
  background-image: url(img/the-flatiron-building.png);
  font-size: 23px;
  color: white;
}

.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
